.nav-link{
    margin: 0px 8px;
    color: black;
    
}


ul li :hover{
    color: orange;

}

.form{
    
   padding-top: 40px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  canvas{
    width: 100%;
  }
  iframe{
    width: 100%;
  }
  .hahah{
    display: none;
  }
  }
